<!DOCTYPE html>
<html data-th-fragment="common(title, content, current)">
<head>
<meta charset="UTF-8">
<title>Utility Objects | [[${title}]]</title>

<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>

</head>
<body>

	<nav class="navbar navbar-expand navbar-dark bg-danger">
		<div class="container">
			<span class="navbar-brand">Utility Objects</span>
		
			<ul class="navbar-nav">
				<li data-th-replace="~{/fragments/menus :: menuItem('Home', @{/}, ${current == 'home' ? 'active' : _})}"></li>
				<li data-th-replace="~{/fragments/menus :: menuItem('Date & Times', @{/dates}, ${current == 'dates' ? 'active' : _})}"></li>
				
				<li class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-th-classappend="${#strings.startsWith(current, 'basic') ? 'active' : _}" data-bs-toggle="dropdown">Basic Data Types</a>
					
					<ul class="dropdown-menu">
						<li><a data-th-href="@{/objects}" data-th-classappend="${#strings.endsWith(current, 'objects') ? 'active' : _}" class="dropdown-item">Objects</a></li>
						<li><a data-th-href="@{/bools}" data-th-classappend="${#strings.endsWith(current, 'bools') ? 'active' : _}" class="dropdown-item">Bools</a></li>
						<li><a data-th-href="@{/numbers}" data-th-classappend="${#strings.endsWith(current, 'numbers') ? 'active' : _}" class="dropdown-item">Numbers</a></li>
						<li><a data-th-href="@{/strings}" data-th-classappend="${#strings.endsWith(current, 'strings') ? 'active' : _}" class="dropdown-item">Strings</a></li>
					</ul>
				</li>
				
				<li data-th-replace="~{/fragments/menus :: menuItem('Collections', @{/collections}, ${current == 'collections' ? 'active' : _})}"></li>
				<li data-th-replace="~{/fragments/menus :: menuItem('Other Utils', @{/others}, ${current == 'others' ? 'active' : _})}"></li>
			</ul>
		</div>
	</nav>
	
	<div class="container pt-4">
		<h3 data-th-text="${title}"></h3>
		
		<div data-th-replace="${content}"></div>
	</div>

</body>
</html>