<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Outputs Demo</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</head>
<body>

	<div class="container pt-4">
		
		<h1 th:replace="~{fragments :: #title}">Demo Title</h1>
		
		<div class="row">
			
			<div class="col-3" th:insert="~{fragments :: nav}"></div>
			
			
			<div class="col">
				<div class="card mb-4">
					<div class="card-header">
						<h5 class="card-title">
							Ouputs with Dialect
						</h5>
					</div>
					
					<div class="card-body">
					
						<div th:text="${message}"></div>
						
						<div th:utext="${message}"></div>
					
					</div>
				</div>
				
				
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">Output with Inline Expression</h5>
					</div>
					
					<div class="card-body">
						
						<div>[[${message}]]</div>
						
						<div>[(${message})]</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>

</body>
</html>