<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/fragments/layout :: common(main=~{::main})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<main>
		<p>Customer Login</p>
		
		<form th:action="@{/authentication}" method="post" class="w-50">
			
			<div class="mb-3">
				<label class="form-label">Email</label>		
				<input type="text" name="username" placeholder="Enter Login Email" class="form-control" />		
			</div>
			
			<div class="mb-3">
				<label class="form-label">Password</label>		
				<input type="password" name="password" placeholder="Enter Password" class="form-control" />		
			</div>
			
			<div>
				<button class="btn btn-primary" type="submit">Login</button>
				<a th:href="@{/}" class="btn btn-primary">Public Home</a>
			</div>
		</form>
		
	</main>

</body>
</html>